{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us | SwiftCart{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}


<section class="contact-section">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-lg-8">

                <div class="contact-card">

                    <form method="POST">

                        {% csrf_token %}

                        <div class="mb-3">

                            {{ form.name.label_tag }}

                            {{ form.name }}

                        </div>

                        <div class="mb-3">

                            {{ form.email.label_tag }}

                            {{ form.email }}

                        </div>

                        <div class="mb-3">

                            {{ form.subject.label_tag }}

                            {{ form.subject }}

                        </div>

                        <div class="mb-3">

                            {{ form.message.label_tag }}

                            {{ form.message }}

                        </div>

                        <button class="btn btn-primary w-100">

                            Send Message

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}